//
@import '~bootstrap/dist/css/bootstrap.min.css';


body{
    font-family: 'Asap Condensed', sans-serif;
}

.bgBottomFooter{
    background-color:#303030;
}

.myButton{
    background-color: #303030;
    border: 2px solid #0282f9;
    color: white;
    padding: 0.5rem 0.5rem;
}

.followColor{
    color: #1b69d9;
}

.bgFooter{
    background-image: url("/images/footer-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.myContainer{
    height: 400px;
    position: relative;
    overflow: hidden;
}

.myContainer img{
    position: absolute;
    right: 0;
    top: -60px
}

.myCol{
    width: 160px !important; 
}

.myNav{
    --bs-nav-link-padding-x: 1rem;
--bs-nav-link-padding-y: 0.5rem;
--bs-nav-link-font-weight: ;
--bs-nav-link-color: black;
--bs-nav-link-hover-color: #0282F9;
--bs-nav-link-disabled-color: #6c757d;
}

.myLink:hover::after{
background-color: #0282F9;
bottom: 0;
content: '';
display: block;
height: 5px;
position: absolute;
width: calc(100% - 16px);
margin-bottom: -50px;
}

.topHeader{
    background-color: #0282F9;
}

.mySmall{
    font-size: 12px;
    font-weight: 600;
}

.myGap{
    gap: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.myImg{
    height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: top center;
}